<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css")}}">
    <script defer src="{{ url_for('static', filename='js/scripts.js')}}" async defer></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="site-nav">
      <div class="nav-left">
        <a class="brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="StartoCode Logo"></a>
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </div>
      <div class="nav-right">
        <a class="nav-link" href="{{ url_for('registration') }}">Get Started</a>
      </div>
    </nav>
    <main>
      {% block content%}{% endblock %}
    </main>
    <footer>
      <p>All right reserve &copy StartoCode 2023</p>
    </footer>
  </body>
</html>
